@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.imagecontainer {
  text-align: center;
}

body {
  background-color: white;
  color: white;

}

.big {
  background-color: #40485B;
  border:solid;
  width:80%;
  margin-left:10%;
  align-self: center;
  margin-top:2.8%;
  margin-bottom:2.8%;
  border-radius:3vh;
  border:1px solid #707070;
}

.ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 10%;
  height: auto;
  margin: 5% 0 3%;

}

.first_paragraph {
  font-size: 3.5vw;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 2%;
  color: white;
  text-align: center;
  padding: 0;
}

.second_paragraph {
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin: 0 0 0;
  padding: 0;
}

.buuton {
  margin: 3% 0 5%;
  width: 20%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-color: #F8F8F8;
  border-radius: 0.6em ;
  font-size: 1.5vw;
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #40485B;
}

.buuton:hover {
  opacity: 0.85;
  cursor: pointer;
}
@media screen and (max-width:1000px){
  .big{
    width:90%;
    margin:initial;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
  }
}

@media screen and (max-width:850px){
  .big{
    width:90%;
    margin: initial;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    height:100%;
   
  }
  .image {
    width: 25%;
    height: auto;
    margin: 7% 0 3%;
  
  }
  .first_paragraph{
    font-size: 30px;
    max-width:90%;
  }
  .second_paragraph{
    font-size: 15px;
    max-width:90%;


  }
  .buuton {
    margin: 3% 0 5%;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-color: #F8F8F8;
    border-radius: 0.6em ;
    font-size: 18px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #40485B;
  }
  .paragraph{
    gap:30px
  }
}

@media screen and (max-width:450px){
  .big{
    width:95%;
    margin: initial;
    margin-left: 2.5%;
    margin-bottom: 5%;
    margin-top: 5%;
    height:100%;
   
  }
  .ct{
    gap:20px;
  }
  .first_paragraph{
    font-size: 25px;
  }
  .second_paragraph{
    font-size: 10px;

  }
  .paragraph{
    gap:30px
  }
  .image {
    width: 35%;
    height: auto;
    margin: 7% 0 3%;
  
  }
  .buuton {
    margin: 3% 0 5%;
    width: 35%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-color: #F8F8F8;
    border-radius: 0.6em ;
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #40485B;
  }
}