@font-face {
    font-family:'Roboto-Bold.ttf' ;
    src: url('../assets/Roboto-Bold.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
  } 
  body {
    background-color: #40485B;
    color: white;
    font-family: 'Roboto Bold'
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
  }
  
  .first-paragraph {
    font-size: 2em;
    font-family: Roboto;
    color: white;
    text-align: center;
    margin-top: 2%;
  }    
  
  .second-paragraph {
    font-size: 1.2em;
    font-family: Roboto;
    color: white;
    text-align: center;
    margin-top: -2%;
  } 
  
  .button {
    margin-top: -2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 1em;
  }
  
  /* Media queries */
  @media screen and (max-width: 768px) {
    img {
      height: 30%;
      margin-top: 10%;
    }
    
    .first-paragraph {
      font-size: 1.5em;
      margin-top: 5%;
    }    
      
    .second-paragraph {
      font-size: 1em;
      margin-top: -5%;
    } 
    
    .button {
      margin-top: 5%;
      font-size: 1.2em;
      padding: 0.8em;
    }
  }