@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.imagecontainer {
  text-align: center;
}

body {
  background-color: white;
  color: white;

}

.big {
  background-color: #40485B;
}

.ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 10%;
  height: auto;
  margin: 5% 0 3%;

}

.first_paragraph {
  font-size: 3.5vw;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 2%;
  color: white;
  text-align: center;
  padding: 0;
}

.second_paragraph {
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin: 0 0 0;
  padding: 0;
}

.buuton {
  margin: 3% 0 5%;
  width: 20%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-color: #F8F8F8;
  border-radius: 0.6em ;
  font-size: 1.5vw;
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #40485B;
}

.buuton:hover {
  opacity: 0.85;
  cursor: pointer;
}