.big-card-design{
    width: 57ch;
    height: 35ch;
}
.product-photo{
    height: 35ch;
    border-radius: 1ch;
    object-fit: cover;
}

   @media screen and (max-width:2500px) {
       .big-card-design{
          width: 100%;
       }
      }
     