.card-design{
    width: 27ch;
    height: 35ch;
}
.product-photo{
    height: 35ch;
    border-radius: 1ch;
    object-fit: cover;
}


@media screen and (max-width:2400px) {
    .card-design{
       width: 100%;
    }
   
   }