@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Quicksand:wght@700&display=swap');

.container-description{
    margin: 2%;
    width: 60.71vw ;
    min-height: 92.63vh ;
    background-color:#40485B ;
    text-align: center;
    font-family: 'Quicksand', sans-serif;}

h1{
    margin: 2rem 5rem;
    color: white;
    font-size: 2.2vw;
}

.presentation-description{
    display: flex;
    gap: 7%;
    margin-top: 3vh;
    

}
.prod{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
}

.image-description{
    width: 26vw;
    height: 55vh;
    
}

.donnees-description{
    text-align: left;
    padding-left: 4vw;
    margin-top: 0;
    padding-top: 0;
    
}

h4{
    color: #E8C895;
    font-size: 1.2vw;
    margin:2.7vh auto ;
}
span{
    font-size: 1vw;
    color: white;
    font-weight:lighter;
}



.prix-produit{
    font-size: 2.5vw;
    margin-top: 0;
    padding-top: 1.5vw;
}
.dt{
    font-size: 1.2vw;
    color: #E8C895;
    padding-left: 0.2rem;
}
.button-description{
    margin-top: 2%;
    margin-bottom: 5%;
    height: 6vh;
    width: 13vw ;
    font-size: 1.3vw;
    border-radius: 8px;
    background-color: #E8C895;
    color: rgb(0, 0, 0);
    padding: 0.1rem 0.1rem;
    border: none;
    cursor: pointer;
    text-align: center;

}


@media only screen and (max-width: 600px) {

    .container-description {
      margin: 2%;
      width: 90%;
      height: auto;
      background-color: #40485B;
      text-align: center;
      font-family: 'Quicksand', sans-serif;
    }
  
    h1 {
      margin-top: 2rem;
      color: white;
      font-size: 6vw;
    }
  
    .presentation-description {
      display: flex;
      flex-direction: column;
      margin-top: 3vh;
      gap: 2%;
    }
  
    .prod {
      margin: 0 auto;
      margin-top: 3rem;
      margin-right: 1rem;
      text-align: center;
    }
  
    .image-description {
      width: 90%;
      height: auto;
      margin-bottom: 1rem;
    }
  
    .donnees-description {
      text-align: left;
      padding-left: 3vw;
      margin-top: 0;
      padding-top: 0;
      gap: 2%;
    }

    .donnees-description h4 {
        font-size: 1rem;
    }

    .donnees-description span {
        font-size: 0.7rem;
    }
  
    .button-description {
      width: 50%;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 4vw;
      border-radius: 5px;
      background-color: #E8C895;
      color: rgb(0, 0, 0);
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
      text-align: center;
    }
  
    .prix-produit {
      font-size: 5vw;
      margin-top: 1rem;
    }
  
    .dt {
      font-size: 3vw;
    }
  }
  


