@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Quicksand:wght@700&display=swap');

.container-description{
    margin: 2% 4%;
    width: 90vw ;
    height: 580px ;
    background-color:#40485B ;
    text-align: center;
    font-family: 'Quicksand', sans-serif;}

.title-item{
  padding-top: 10px;
    color: white;
    font-size: 40px;
}

.presentation-description{
    display: flex;
    gap: 35%;
    margin-top: 3vh;
    

}
.prod{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
}

.image-description{
    width: 300px;
    height: 300px;
    padding-top: 3px;
    
}

.donnees-description{
    text-align: left;
    padding-left: 5vw;
    margin-top: 0;
    padding-top: 0;
    
}

.item-h4{
    color: #E8C895;
    font-size: 18px;
    margin:0.7rem auto ;
}
.item-span{
    font-size: 15px;
    color: white;
    font-weight:lighter;
}



.prix-produit{
    font-size: 2.5vw; 
    margin-top: 0;
    padding-top: 1vw;
    color: #E8C895;
}
.prix-produit .dt{
    font-size: 1.2vw;
    color: #E8C895;
    padding-left: 0.2rem;
}
.button-description{
    margin-top: 0;
    margin-bottom: 5%;
    height: 6vh;
    width: 150px;
    font-size: 17px;
    border-radius: 8px;
    background-color: #E8C895;
    color: rgb(0, 0, 0);
    padding: 0.1rem 0.1rem;
    border: none;
    cursor: pointer;
    text-align: center;

}




@media only screen and (max-width: 960px)  and (max-height:900px) {

  .container-description {
    margin: 2%;
    width: 90%;
    min-height: 580px;
    background-color: #40485B;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }

 .title-item{
    margin: 2rem 5rem;
    color: white;
    font-size: 40px;
}

.presentation-description{
    display: flex;
    gap: 27%;
    margin-top: 3vh;
    

}
.prod{
    margin-left: 2rem;
    margin-top: 4rem;
    margin-right: 2rem;
}

.image-description{
    width: 20vw;
    height: 35vh;
    
}

.donnees-description{
    text-align: left;
    padding-left: 5vw;
    margin-top: 0;
    padding-top: 0;
    
}

.item-h4{
    color: #E8C895;
    font-size: 2vw;
    margin:2vh auto ;
}
.item-span{
    font-size: 1.5vw;
    color: white;
    font-weight:lighter;
}



.prix-produit{
    font-size: 20px; 
    margin-top: 0;
    padding-top: 1vw;
    color: #E8C895;
    font-size: 3vw;
}
.prix-produit .dt{
    font-size: 1.2vw;
    color: #E8C895;
    padding-left: 0.2rem;
    font-size: 1.5vw;
}

  .button-description {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size:17px;
    border-radius: 5px;
    background-color: #E8C895;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  

  
}







@media only screen and (max-width: 700px) {

    .container-description {
      margin: 2% 4% ;
      width: 90%;
      height: auto;
      background-color: #40485B;
      text-align: center;
      font-family: 'Quicksand', sans-serif;
    }
  
    .title-item{
      margin-left:10% ;
      color: white;
      font-size: 6vw;
      text-align: center;
    }
  
    .presentation-description {
      display: flex;
      flex-direction: column;
      margin-top: 3vh;
      gap: 2%;
    }
  
    .prod {
      margin: 0 auto;
      margin-top: 1rem;
      text-align: center;
    }
  
    .image-description {
      width: 30%;
      height: auto;
    }
  
    .donnees-description {
      text-align: left;
      padding-left: 3vw;
      margin-top: 0;
      padding-top: 0;
      gap: 2%;
    }

    .item-h4 {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .item-span {
        font-size: 0.7rem;
    }
  
    .button-description {
      width: 150px;
      margin: 0 auto;
      margin-bottom: 1rem;
      font-size: 15px;
      border-radius: 5px;
      background-color: #E8C895;
      color: rgb(0, 0, 0);
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
      text-align: center;
    }
  
    .prix-produit {
      font-size: 4vw;
    }
  
    .dt {
      font-size: 1.5vw;
    }
  }
  


