@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* .Product-container2 {
  padding: 2ch;
  display: flex;
  align-items: center;
  margin-right: 15ch;
  margin-left: 6ch;
  gap: 2ch;
} */
.newarrivals-container {
  margin-left: 10ch;
  background-color: white;
  border-top-left-radius: 5ch;
  border-bottom-left-radius: 3ch;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title-container {
  background-color: #40485b;
  border-top-left-radius: 3ch;
  border-top-right-radius: 0ch;
  height: 4ch;
  color: white;
  height: 6ch;
}
.title {
  margin-inline-start: 5ch;
  padding: 0.5ch;
  font-family: Quicksand, sans-serif;
  font-size: x-large;

}
.home-container{
  margin-right: 10vw;
  padding: 20px;

  display: grid;
  
  
  grid-template-columns: 1.3fr 1.1fr 1fr; 
  grid-template-rows: 21em 19em; 
  grid-gap:12px;

}

/* .grid-image-home{
  object-fit: cover;
} */

.grid-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1ch;
}



@media screen and (max-width: 920px) {
  .home-container
  {grid-template-columns: 1.4fr 1.7fr ; 
    grid-template-rows: 19em 17em; 
    
  
  }
  
  
}
@media screen and (max-width: 700px) {
  .home-container
  {grid-template-columns: 1.6fr 1.4fr ; 
    grid-template-rows: 19em 17em; 
    margin: initial;
    margin-left: 5ch;
    margin-right: 5ch;
  }
    .newarrivals-container {
      margin-left: 2ch;
      background-color: white;
      border-top-left-radius: 5ch;
      border-bottom-left-radius: 3ch;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
}
@media screen and (max-width: 650px) {
  .home-container
  {grid-template-columns: 1.4fr  ; 
    grid-template-rows: 12em 13em 14em 14em 14em 17em; }
    .title-container {
      background-color: #40485b;
      border-top-left-radius: 3ch;
      border-top-right-radius: 0ch;
      color: white;
      height: 6ch;
    }
  
  
}

@media screen and (max-width: 400px) {
  
  .title {
    padding: 0.5ch;
    font-size: x-large;
    font-family: Quicksand, sans-serif;
    text-align: center;
    white-space: nowrap;
    margin:initial;
  }
  .home-container
  {margin:initial;}


}

@media screen and (max-width: 300px) {
  
    .newarrivals-container {
      margin-left: 1ch;
      background-color: white;
      border-top-left-radius: 5ch;
      border-bottom-left-radius: 3ch;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
}

/* .image1 {
  width: 100%;
  height: 40ch;
  border-radius: 1ch;
  object-fit: cover;
}
.div-photo-conatiner-arrival {
  object-fit: cover;
  justify-content: center;
}

.image2 {
  width: 35vw;
  height: 40ch;
  border-radius: 1ch;
  object-fit: cover;
}
.product-component2 {
  object-fit: cover;
}
.product-component {
  object-fit: cover;
  justify-content: center;
  width: 100%;
}




@media screen and (max-width: 1200px) {
  .div-photo-conatiner-arrival:nth-child(3) {
    display: none;
  }
  .image2 {
    width: 100%;
    height: 40ch;
    border-radius: 1ch;
    object-fit: cover;
  }
}

@media screen and (max-width: 990px) {
 
}
@media screen and (max-width: 700px) {
 
  .div-photo-conatiner-arrival:nth-child(2) {
    display: none;
  }
 
  .Product-container2 {
    margin-left: 6ch;
   margin-right: 3ch;
  
  }
  
  .newarrivals-container {
    margin-left: 2ch;
  }
} */


