.top-home-design {
    margin-right: 10ch;
    margin-bottom: 10ch;
    
  }
  .Top-home-container {
    height: 60ch;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .image-design {
    height: 60ch;
    width: 100%;
    object-fit: cover;
  }
  .number {
    position: absolute;
    top: 60%;
    margin-left: 87%;
    color: white;
    font-size: 100px;
  }
  .number-of-photos {
    position: absolute;
    top: 83%;
    margin-left: 93%;
    color: white;
  }
  @media  screen and (max-width:480px) {
    .top-home-design{
      margin-right: 0ch;
      margin-top: 0ch;
    }
    .image-design {
      height: 25ch;
    }
    .Top-home-container{
      height: 25ch;
    }
 
  }
  @media  screen and (min-width:480px ) and (max-width:900px) {
   
    .image-design {
      height: 30ch;
    }
    .Top-home-container{
      height: 30ch;
    }
    .top-home-design {
      margin-right: 7ch;
      
      
    }
  }
  