@font-face {
  font-family:'Roboto-Bold.ttf' ;
  src: url('../assets/Roboto-Bold.ttf') format(truetype);
  font-weight: bold;
  font-style: normal;
} 
@font-face {
  font-family:'Gilroy-ExtraBold.otf' ;
  src: url('../assets/Gilroy-ExtraBold.otf') format(truetype);
  font-style: normal;
} 
@font-face {
  font-family:'multi-regular.ttf' ;
  src: url('../assets/multi-regular.ttf') format(truetype);
  font-style: normal;
} 
@font-face {
  font-family:'Quicksand_Bold.ttf' ;
  src: url('../assets/Quicksand_Bold.otf') format(truetype);
  font-weight: bold;
  font-style: normal;
} 
@font-face {
  font-family:'segoe-ui.otf' ;
  src: url('../assets/segoe-ui.otf') format(truetype);
  font-weight: bold;
  font-style: normal;
} 

form {
    height: 80vh;
    font-family: 'Roboto Bold'
  }

.titre{
  color: #c7c7cc;
  font-size: larger;
  font-family:'Quicksand_Bold.otf';
}
.inputt{
  background-color: #40485B;
  font-size:large;
  font-family: 'multi-regular.ttf';
  color:#C7C7CC  ;
  border: 0.4vh solid #E5E5EA;
  border-radius: 1vh;
  height:2vh;
  width:100%;
  padding: 3%;
}




#country{
  font-family:'Quicksand_Bold.otf'
}
#ci{
  font-family:'Quicksand_Bold.otf';
}
#zc{
  font-family:'Quicksand_Bold.otf'
}


#countryy,#City,#Zipcode,.state{
  
  background-color: #40485B;
  font-size: larger;
  font-family: 'multi-regular.ttf';
  color: #c7c7cc ;
  border: 0.4vh solid #E5E5EA;
  height:5vh;
  padding: 2%;
  border-radius: 1vh;
}


#st,#add{
  font-family:'Quicksand_Bold.otf';
}

.state{
  width:100%;
  font-family: 'multi-regular.ttf';
  height:5.2vh;
  padding:2%;
  
}
#Address{
  width:90%;
  height: 2vh;
  font-family: 'multi-regular.ttf';
  padding-left: 3%;
  padding-right: 2.5%;
  margin-right: 500%;
  
}
.bt{
  width:12%;
  height: 6vh;
  font-size: 120%;
  font-weight: bold;
  color: #E8C895;
  border: 0.5vh solid #E8C895;
  border-radius: 2vh;
  background-color: #40485B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3%;
  margin-left: 3%;
  padding: 0.5%;

  
  }
.mbt{
  width:30%;
  height: 8.5vh;
  font-size: 90%;
  font-weight: bolder;
  border: 0.5vh solid #E8C895;
  border-radius: 2vh;
  font-family: 'segoe-ui.otf'; 
  color: #40485B;
  background-color: #E8C895;
  margin-left: 35%;
  padding: 1.5%;
  margin-top: 2%;;
  padding-left:5.5% ;
  padding-right:5.5% ;
 
}

.firstparagraph{
  font-family: 'Gilroy-ExtraBold.otf';
  font-size:120%;
  text-align: center;
  color: #F8F8F8;
  font-weight: bolder;
  margin-top: 3%;
  margin-right: 9%;
}

.imaage {
  width: 50%;
  height: 72%;
  margin-left: 25%;
  margin-top: 22%;
  
}
body{
  background-color: white;
}
.big{
  background-color: #40485B;
}
