.element {
    font-size: larger;
    width: 58vh;
    height:85vh;
    border: 1px solid #707070;
    margin-left: 17%;
    border-radius: 2%;
    overflow: hidden;
    background-color: #F1F1F1;
    
}

.img{
    display: block;
    background-color: #40485B;
    max-width: 100%;
    height: 46vh;
    border-top-left-radius:2%;
    border-top-right-radius: 2%; 
    
}

.boutton{
    border-radius: 15px;
    margin-left: 22%;
    margin-top: 7%;
    width: 53%;
    height: 7vh;
    background-color: #40485B;
    color:white;
    font-family:'Quicksand';
    padding: 1.5%;
    font-size: larger;
    border-color: #707070;
    
}

