footer {
    height: 20%;
    background-color: #514F62;
    padding: 20px;
    color: #E8C895;
    margin-bottom: 0;
    height: 300px;
    
  }
  
  .container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 80px;
    padding-left: 12vh;
  }
  .socialMedia{
    padding-left: 15vh;
  }
  .columns {
    margin-right: 25vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items:center
  }
  
  .column {
   
    padding: 5vh 12vh 0 8vh;
    display: flex;

    flex-direction: column;
    
    align-items: center;
  }
  
  .column h4 {
    
    padding-bottom: 3vh;
    text-decoration:  underline 2px ;
    text-underline-offset:1vh;
    
  }
  
  .column ul {
    display: flex;
    flex-direction: column;
    list-style: none;
   
  }
  
  .column ul li {
    
    padding-bottom: 3vh;
    font-weight: 600;
  }
  .item:not(:last-child) {
    border-right: 1px solid #E8C895;
    margin-right: 10px;
  }
  li{
    padding: 5px 10px;
  }
  .rights{
    padding-right: 100vh;
    font-weight: 600;
  }
  .column button{
    background-color: #ffffff;
  }
 