.allNavBar {
  
  background-color: #514F62;
  width: 100%;
  height: 20%;
  display: flex;
  font-size: 110%;
  margin-top: 0;

}

nav {
  background-color: #514F62;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 130px;
  position: relative;
}

.navBar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

ul a:hover {
  color: #e5c492;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

}


.elemi {
  padding: 1.5% 10vh;
}

.search-container {

  display: flex;
  align-items: center;

}


input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 110%;
  border-bottom: 0.4vh solid white;

}




button[type="submit"] {
  border: none;
  background-color: transparent;
  
  font-size: 1rem;
  
  
}

.elem {
  position: relative;
}

.elem:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 5vh;
  height: 0.5vh;
  background-color: rgb(255, 255, 255);
  margin-top: 2vh;
  margin-left: 7vh;




}


.search {
  color: #fff;
  font-size: 1.6rem;
}

.searchloop {
  margin-right: 30vh;
}


img {
  padding-left: 2vh;
  margin-top: 1.4vh;

}

.btnMenu {

  display: none;
  position: fixed;
  right: 3px;
  top: 12px;
  padding: 3hv;
  color: #fff;


}
.btnMenu:hover{
  color: #e5c492;
}


@media screen and (max-width: 1024px) {

  .hbc {
    flex-direction: column;
    height: auto;
    width: 100%;
    position: fixed;
    color: #514F62;
   
   
  }


  .elemi:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 10%;
    width: 100%;
    
  }
  
  .elemi {
    
    
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }

  button.btnMenu {
    display: block;
    margin-right: -4%;
    margin-bottom:80% ;
  }
  .btnMenu:hover{
    cursor: pointer;
    
  }
  .searchC{
    
    
  }

  .search-container {
    margin-bottom: 80%;
    

  }

  .elem:not(:last-child)::after {
    content: '';
    width: 0;
    height: 0;
  }
}

@media only screen and (max-width: 1024px){
  
  
}  