
/* navbar (logo+navbar-container) */
.allNavBar {
  background-color: #40485B;
  height: 80px;
  display: grid;
  /* font-size: 110%; */
  grid-template-columns: 4% 80%;
  gap:10%;
}

/* hbc(home+shop+contacts)+searchbar */
.navBar-container {
  background-color: #40485B;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:7vw;
}

/* home+shop+contacts */
.hbc{
  display:flex;
  align-items: center;
  gap:2vw;
}

.searchbar{
  display: flex;
}

.respNavBar{
  display:none;
}

.elemi a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight:500;
}

.elemi a:hover {
  color: #e5c492;

}



.aaaa{
  background-color: #F8F8F8;
  width: 2vw;
  height:2px;
}

/* ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

} */
.elemi {
  padding: 2px 2vh;
}

.search-container {
  width: 2px;
  display: flex;
  align-items: center;

}


.inputText {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 110%;
  border-bottom: 0.4vh solid white;
  width: 17vw;
  margin-bottom: 10px;

}

.loopBtn{
  border: none;
  background-color: transparent;
  font-size: 12px;
}





.searchloop {
  
  color: #ffffff;
  font-size: 70px;
}

div.rights{
  width:30vw;
}

 .logoNB{
  width:110px;
  height: 55px;
  margin-top: 15%;
  margin-left: 25%;

}  

.btnMenu {
  background-color: transparent;
  /* display: none; */
  margin-top: 30px;
  
  color: #fff;


}
.searchloop:hover{
  color: #e5c492;
}
.loopBtn:hover{
  
  cursor: pointer;
  
  

}
.logoNB{
  padding-bottom: 3px;
}
.bar2{
  justify-content: center;
  align-items: center;
  margin-left: 8vw;
}
.bar2 input{
  width:45%;
}

searchContainerE{
  
  width: 400px;
  
  background-color: #40485B;
} 
.search {
  display: table;
  background-color: #40485B;
}

.search input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  transition: all 0.6s ease;
  cursor: pointer;
  color: #e5c492;
}
.search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}
.inputC1{
  color: #e5c492;
}
.search input + div svg {
  display: block;
  position: absolute;
  height: 23.8px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke: #e5c492;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-ms-input-placeholder) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:placeholder-shown), .search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg, .search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
::-moz-selection {
  background: #E8C895;
}

::selection {
  background: #E8C895;
}

::-moz-selection {
  background: #E8C895;
}
.dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
 .dribbble img {
  display: block;
  width: 76px;
}



@media screen and (max-width: 1040px) {
  .navBar-container {
    padding: 10px 40px;;
  }
} 
 @media screen and (max-width: 920px) {
  .navBar-container {
    padding: 10px 20px;;
  }
} 

 @media screen and (max-width: 840px) {
  
  .navBar-container{
    display: none;
  }
  .respNavBar{
    display: grid;
    
    
  }
  .firstPart{
    background-color: #40485B;
    display: grid;
    grid-template-columns: 80% 5%;
    gap:15%;
  }
  .secondPart{
    border:solid;
    position: absolute;
    top: 78px;
    left: 0;
    background-color: #fff;
    width: 99.38%; 
    display: grid;
    color: #40485B;
    grid-template-columns: 100%;
    grid-row: 30% 30% 30%;
    justify-content: center;
    align-items: center; 
    text-align: center;  
  }

  .last{
    height: 40px;
  }

  
.elemm{
   
   color: #40485B;
  
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  height: 60px;
}
/* a .elemm{
  position: relative;
 
  
} */

.elemm:hover {
  color: #e5c492;
  cursor: pointer;

}
.elemm1{
  height: 52px;
  padding-top: 10px;
}
.inputText1 {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 110%;
  border-bottom: 2.7px solid #e5c492;
  width: 32vw;
  
  margin-left: 15vw; 
  margin-top: 20px;

}
.searchloop1 {
  cursor: pointer;


  
  
 
}

.btnMenu1 {
  background-color: transparent;
  cursor: pointer;
  margin-top: 27px;
  margin-right: 20vw;
  padding-left: 0;
  

}




.searchC1{
  display: table;
  
}
 }  


@media screen and (max-width: 648px){
  .searchC1{
    margin-top: 3px;
  }
}

@media screen and (max-width: 576px){
 .searchC1{
  margin-top: 3px;
 }
}
@media screen and (max-width: 518px){
  .searchC1{
   
   margin-top: 3px;
  
  }
  .btnMenu1{
    margin-left: 0;
    padding-left: 0;
   margin-right: 10px;
  }
 
 }
 @media screen and (max-width: 508px){
  .searchC1{
   
   margin-top: 3px;
  
  }}
  @media screen and (max-width: 456px){
    .searchC1{
     
     margin-top: 4px;
     margin-bottom: 4px;
    
    }}
    @media screen and (max-width: 402px){
      .searchC1{
       
       margin-top: 6x;
       margin-bottom: 3px;
      
      }}
      @media screen and (max-width: 382px){
        .searchC1{
         
         margin-top: 7px;
         margin-bottom: 2px;
        
        }}
      @media screen and (max-width: 341px){
        .searchC1{
         
         margin-top: 7px;
         margin-bottom: 3px;
         
        
        }
        .inputText1 {
          
          font-size: 110%;
         
          width: 32vw;
          
          margin-left: 10px; 
          padding-left: 5px;
          margin-top: 20px;
        
        }
        .btnMenu1{
          margin-right: 20px;
        }
      }
      @media screen and (max-width: 299px){
           .inputText1{
                   width: 90px;
                   margin-top: 22px;
           }
           .searchloop1{
            margin-right: 2px;
            margin-left: 6px;
           }
           .btnMenu1{
            margin-left: 0;
            padding-left: 0;
            margin-right: 7px;
           }

      } 

