body {

  font-family: Quicksand;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Quicksand;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}



