@import url('https://fonts.cdnfonts.com/css/quicksand');

.footer {
    background-color: #40485B;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.helma {
    width: 150%;
    color: #E8C895;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 100%;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;


}

.container {
    display: grid;
    grid-template-columns: 25% 7% 15% 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5%;
    padding-right: 8%;
}

.logo_footer {
    width: 100%;
    height: auto;
}

.icons {
    display: none;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}
.social_p{
    text-decoration: none;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 18px;
    color: #E8C895;
}

.contact_container{
    height:150px;
    display: flex;
    flex-direction: column;
    gap:18px;
    margin-top: -9px;
}


.contactt {
    display: flex;
    align-items: center;
    gap: 13px;
}

.contactt .iconss {
    width: 12px;
}


.contact_para {
    color: #E8C895;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 15px;
    align-self: flex-start;
    width: 100%;
}
.pages{
    text-decoration: none;
    color: #E8C895;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 16px;
    align-self: flex-start;
    width: 100%;
}




.social_p:hover
{
    text-decoration: underline #E8C895 2px;
    cursor: pointer;
}

.social_media span {
    width: 0.1vw;
    background-color: #E8C895;
    height: 25px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.sections {
    display: flex;
}

.section1, .section2 , .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    /* margin-left:80px; */
    text-align: start;
    padding-top: 60px;

}
.section1, .section2{
    gap:22px;
}
.subscribe{
    margin-left: 10%;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h6 {
    color: #E8C895;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2px;
}

.section1 title, .section2 title , .subscribe title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
}

.section1, .section2, .subscribe,.section1 .contactt p, .section2 .contactt p {
    color: #E8C895;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 15px;
    align-self: flex-start;
    width:100%
}

.contact_para:hover
{
    text-decoration: underline #E8C895 2px;
    cursor: pointer;
}
.pages:hover{
    text-decoration: underline #E8C895 2px;
    cursor: pointer;  
}

.title hr {
    border: #E8C895 solid 2px;
    width: 95%;
    padding: 0;
    margin: 0 0 20px;
}

.logo_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right:50px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
     margin-left: 4vw; 
} */

.contact {
    display: none;
}

.subscribe p {
    color: #E8C895;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    align-self: flex-start;
}

/* @media screen and (max-width: 950px) {
    .subscribe p {
        font-size: 1vw;
    }

    .title h6 {
        font-size: 1.2vw;
    }

    .section1, .section2 p {
        font-size: 1vw;
    }
}

@media screen and (max-width: 800px) {
    .logo_social {
        order: 2;
        -webkit-order: 2;
        box-sizing: border-box;
        margin-right: 0;
    }

    .sections {
        order: 1;
        -webkit-order: 1;
    }

    .contact {
        display: flex;
        flex-direction: column;
        order: 3;
        -webkit-order: 3;
        align-items: center;
    }

    .container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .sections {
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    .subscribe p {
        font-size: 1.5vw;
    }

    .title h6 {
        font-size: 1.8vw;
    }

    .section1, .section2 p {
        font-size: 1.5vw;
    }

    .logo_footer {
        width: 15vw;
        height: auto;
        margin-bottom: 10px;
    }

    .social_media {
        display: none;
    }

    .icons {
        display: flex;
        flex-direction: row;
    }

    .icon {
        width: 3vw;
        height: auto;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .contact h6 {
        color: #E8C895;
        font-family: 'Quicksand Book', sans-serif;
        font-size: 2.5vw;
        font-weight: 700;
        letter-spacing: 0.5vw;
        margin: 0;
    }

    .contact p {
        color: #E8C895;
        font-family: 'Quicksand Book', sans-serif;
        font-weight: 100;
        font-size: 1.5vw;
        margin: 10px 0 0 0;
    }

    .helma{
        align-self: center;
        color: #E8C895;
    font-family: 'Quicksand Book', sans-serif;
    font-size: 1.2vw;
    font-weight: 700;
    margin: 10px 0 0 0;
    }



}

@media (max-width:1265px) {
    .container{
        margin-left: 3%;
    }
    .sections{
        gap:1%;
    }
}

@media (max-width:1215px) {
    .container{
        margin-left: 10%;
    }
    .sections{
        gap:1%;
    }
    .section2{
        margin-left: 30px;
    }
    .section1 {
        width:20%;
    }
    .logo_social{
        margin-left: 30px;
    }
}

@media (max-width:1129px) {
    .container{
        margin-left: 3%;
    }
    .sections{
        gap:-20px;
    }
    
} */

@media(max-width:1375px){
    .container{
        grid-template-columns: 25% 9% 18% 20%;
        gap:1%;
        padding-right: 5%;
    }
    .newsletter{
        white-space: nowrap;
    }

    
}
@media(max-width:1250px){
    .container{
        grid-template-columns: 30% 10% 20% 20%;
        gap:1%;
    }
    .social_media a{
        font-size: medium;
    }
    .subscribe p{
        font-size: 14px;
    }
    .title h6{
        font-size: 18px;
    }
    
    
}